<div class="page-header">
  <div class="row">
    <div class="span4">
      <h1>List of Stages for Draws</h1>
    </div>
    <div class="span8 pagination-right">
      <h3>Current Default Tournament: <%= currTournamentName %></h3>
    </div>
  </div>
</div>

<div class="row">
    <div class="span12">
        <%- paginate(stage_draws) %>
    </div>
</div>

<div class="row">
    <div class="span12">
        <% if (stage_draws.length > 0) { %>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>Stage Name</th>
                        <th>Division</th>
                        <th>Stage Sequence</th>
                        <th>Final Stage?</th>
                        <th>Stage Status</th>
                        <th>Generated</br>Draw for</br>the Stage</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% stage_draws.forEach(function (stage_draw) { %>
                        <tr>
                            <td><%= stage_draw.event_name %></td>
                            <td><%= stage_draw.stage_name %></td>
                            <td><%= stage_draw.division_code_m %></td>
                            <td><%= stage_draw.stage_sequence %></td>
                            <td><%= stage_draw.final_stage_flag_m %></td>
                            <td><%= stage_draw.stage_status_code_m %></td>
                            <td><%= stage_draw.draw_count %></td>
                            <td>
                                <% if (stage_draw.draw_count == 0) { %>
                                  <%- link_to('<i class="icon-remove icon-white"></i> Generaet Draw', '/stage_draws/' + stage_draw.id + '/generate', {class: 'btn btn-mini'}) %>
                                <% } else { %>
                                  <%- link_to('<i class="icon-edit"></i> Edit Draw(s)', '/stage_draws/' + stage_draw.id + '/draws', {class: 'btn btn-mini'}) %>
                                <% } %>
                            </td>
                        </tr>
                    <% }); %>        
                </tbody>
            </table>
        <% } else { %>
            <p class="alert alert-block alert-info">
                <strong>No stages were found.  Please check to make sure that there is at least one Event created with a Stage record ties to it or choose a default Tournament first under the Other menu option.</strong> 
            </p>
        <% } %>
    </div>
</div>