<div class="page-header">
    <h1>Set Current Default Tournament</h1>
</div>

<div class="row">
    <div class="span12">
        <% if (tournaments.length > 0) { %>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Star Rating</th>
                        <th>Facility Name</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Current Default</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% tournaments.forEach(function (tournament) { %>
                        <tr>
                            <td><%= tournament.tournament_name %></td>
                            <td><%= xxtd_UtcToHumanDate(tournament.start_date) %></td>
                            <td><%= xxtd_UtcToHumanDate(tournament.end_date) %></td>
                            <td><%= tournament.usatt_star_rating_code %></td>
                            <td><%= (tournament.facility_name == null) ? 'Not Selected' : tournament.facility_name %></td>
                            <td><%= (tournament.facility_city == null) ? 'N/A' : tournament.facility_city %></td>
                            <td><%= (tournament.facility_state_or_province == null) ? 'N/A' : tournament.facility_state_or_province %></td>
                            <td><%= tournament.current_flag_m %></td>
                            <td>
                                <%- (tournament.current_flag == 'N') ? link_to('<i class="icon-ok-circle"></i> Set As Current Default', 'tournaments/updateDefault/'+tournament.id, {class: 'btn btn-inverse'}) : null %>
                            </td>
                        </tr>
                    <% }); %>        
                </tbody>
            </table>
        <% } else { %>
            <p class="alert alert-block alert-info">
                <strong>No tournaments were found.</strong> 
            </p>
        <% } %>
    </div>
</div>