<div class="page-header">
    <h1>Details of Tournament</h1>
</div>


<table class="table table-bordered">
    <tbody>
        <tr><th>Tournament Name</th><td><%= tournament.tournament_name %></td></tr>
        <tr><th>Start Date</th><td><%= xxtd_UtcToHumanDate(tournament.start_date) %></td></tr>
        <tr><th>End Date</th><td><%= xxtd_UtcToHumanDate(tournament.end_date) %></td></tr>
        <tr><th>USATT Star Rating</th><td><%= tournament.usatt_star_rating_code %></td></tr>
        <tr><th>Facility</th><td><%= (tournament.facility_name == null) ? 'Not Selected' : tournament.facility_name %></td></tr>
        <tr><th>Current Default</th><td><%= tournament.current_flag_m %></td></tr>
    </tbody>
</table>

<div class="well">
    <%- link_to('<i class="icon-edit icon-white"></i> Edit', path_to.edit_tournament(tournament), {class: 'btn btn-primary'}) %>
    <%- link_to('<i class="icon-remove icon-white"></i> Delete', path_to.tournament(tournament), {class: 'btn btn-danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'}) %>
    or
    <%- link_to('Back to index', path_to.tournaments()) %>
</div>