<%- errorMessagesFor(facility) %>
<div class="control-group">
   <%- form.label("facility_code", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("facility_code") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("facility_name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("facility_name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("number_of_tables", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("number_of_tables") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("address1", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("address1") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("address2", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("address2") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("city", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("city") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("state_or_province", false, {class: "control-label"}) %>
   <div class="controls">
<!--       <%- form.input("state_or_province") %> -->
     <%- xxtd_createDropDown("Facility_state_or_province", "Facility[state_or_province]", state_or_province_list, facility.state_or_province, "meaning", "lookup_code") %>

   </div>
</div>
<div class="control-group">
   <%- form.label("postal_code", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("postal_code") %>
   </div>
</div>

<div class="control-group">
  <%- form.label("country_code", false, {class: "control-label"}) %>
  <div class="controls">
     <%- xxtd_createDropDown("Facility_country_code", "Facility[country_code]", country_list, facility.country_code, "meaning", "lookup_code") %>
  </div>
</div>

<!-- Adding upper case event handler and adding the handler event. -->
<script type="text/javascript" name = "convertUpperCase">
  function xxtd_CaseHandler(event) {
    var eSrc = eventUtility.getTarget(event);
    var type = event.type;
    if (eSrc.id.toUpperCase() === 'FACILITY_FACILITY_CODE') {
      if (type === "keyup") {
        eSrc.value = eSrc.value.toUpperCase();
      }
    }
  }
  eventUtility.addEvent(document, "keyup", xxtd_CaseHandler );
</script>

<%- form.input("date_created", {type: "hidden"}) %>
<%- form.input("date_updated", {type: "hidden"}) %>