<div class="page-header">
    <h1>List of event</h1>
</div>

<div class="row">
    <div class="span6">
        <p><%- link_to('<i class="icon-plus icon-white"></i> New Event', path_to.new_event(), {class: 'btn btn-primary'}) %></>
    </div>
    <div class="span6">
        <%- paginate(events) %>
    </div>
</div>

<div class="row">
    <div class="span12">
        <% if (events.length > 0) { %>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tournament Name</th>
                        <th>Start Time</th>
                        <th>Event Name</th>
                        <th>Event Type</th>
                        <th>Over/Under</th>
                        <th>Threshold</th>
                        <th>Check-in Time</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% events.forEach(function (event) { %>
                        <tr>
                            <td><%= event.tournament_name %></td>
                            <td><%- xxtd_UtcToHumanDate(event.event_start_time, 'Y')%></td>
                            <td><strong><%- link_to(event.event_name, path_to.event(event)) %></strong></td>
                            <td><%= event.event_type_code_m %></td>
                            <td><%= event.event_type_overunder_flag_m %></td>
                            <td><%= event.event_type_threshold %></td>
                            <td><%- xxtd_UtcToHumanDate(event.event_check_in_time, 'Y')%></td>
                            <td>
                                <%- link_to('<i class="icon-edit"></i> Edit', path_to.edit_event(event), {class: 'btn btn-mini'}) %>
                                <%- link_to('<i class="icon-remove icon-white"></i> Delete', path_to.event(event), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'}) %>        
                            </td>
                        </tr>
                    <% }); %>        
                </tbody>
            </table>
        <% } else { %>
            <p class="alert alert-block alert-info">
                <strong>No events were found.</strong> 
            </p>
        <% } %>
    </div>
</div>