<%- errorMessagesFor(draw) %>
<div class="control-group">
   <%- form.label("draw_name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("draw_name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("draw_status_code", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("draw_status_code") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("version", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("version") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("stage_id", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("stage_id") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("used_in_tournament_flag", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("used_in_tournament_flag") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("date_creted", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("date_creted") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("date_updated", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("date_updated") %>
   </div>
</div>
