<%- errorMessagesFor(stage) %>

<div class="row">
	<div class="span6">
	  <div class="control-group">
	   <%- form.label("stage_name", "Stage Name", {class: "control-label"}) %>
	   <div class="controls">
	       <%- form.input("stage_name") %>
	   </div>
	  </div>
  </div> <!-- end of span6 column 1 -->
	<div class="span6">
		<div class="control-group">
		   <%- form.label("event_id", "Event", {class: "control-label"}) %>
		   <div class="controls">
<!--		       <%- form.input("event_id") %>-->
     <%- xxtd_createDropDown("Stage_event_id", "Stage[event_id]", current_event_list, stage.event_id, "event_name", "id") %>
		   </div>
		</div>
	</div> <!-- end of span4 column 2 -->
</div> <!-- end of class = "row1" -->

<div class="row">
	<div class="span6">
	<div class="control-group">
	   <%- form.label("stage_sequence", "Stage Sequence", {class: "control-label"}) %>
	   <div class="controls">
	       <%- form.input("stage_sequence", {class: "span1"}) %>
	   </div>
	</div>
	</div> <!-- end of span6 column 1 -->
	<div class="span6">
	<div class="control-group">
	   <%- form.label("stage_format_code", "Stage Format", {class: "control-label"}) %>
	   <div class="controls">
<!--	       <%- form.input("stage_format_code") %>-->
     <%- xxtd_createDropDown("Stage_stage_format_code", "Stage[stage_format_code]", stage_format_list, stage.stage_format_code, "meaning", "lookup_code") %>
	   </div>
	</div>
	</div> <!-- end of span6 column 2 -->
</div> <!-- end of class = "row2" -->

<div class = "row">

	<div class="span6">
		<div class="control-group">
		   <%- form.label("number_of_tbl_used", "Number of Table Used", {class: "control-label"}) %>
		   <div class="controls">
		       <%- form.input("number_of_tbl_used") %>
		   </div>
		</div>
	</div> <!-- end of span6 column 1 -->

	<div class="span6">
		<div class="control-group">
		   <%- form.label("draw_format_code", "Draw Format", {class: "control-label"}) %>
		   <div class="controls">
<!--		       <%- form.input("draw_format_code") %>-->
     <%- xxtd_createDropDown("Stage_drarw_format_code", "Stage[draw_format_code]", draw_format_list, stage.draw_format_code, "meaning", "lookup_code") %>
		   </div>
		</div>
	</div> <!-- end of span6 column 2 -->
</div> <!-- end of class = "row3" -->

<div class = "row">
	<div class="span6">
		<div class="control-group">
		   <%- form.label("seeding_basis_code", "Seeding Basis", {class: "control-label"}) %>
		   <div class="controls">
<!--		       <%- form.input("seeding_basis_code") %>-->
     <%- xxtd_createDropDown("Stage_seeding_basis_code", "Stage[seeding_basis_code]", seed_basis_list, stage.seeding_basis_code, "meaning", "lookup_code") %>
		   </div>
		</div>
	</div> <!-- end of span6 column 1 -->
	<div class="span6">
		<div class="control-group">
		   <%- form.label("top_x_bye_player", "Top X Bye Player", {class: "control-label"}) %>
		   <div class="controls">
		       <%- form.input("top_x_bye_player") %>
		   </div>
		</div>
	</div> <!-- end of span6 column 2 -->
</div> <!-- end of class = "row4" -->

<div class = "row">
	<div class="span6">
		<div class="control-group">
		   <%- form.label("grp_per_stage", "No. of Group per Stage", {class: "control-label"}) %>
		   <div class="controls">
		       <%- form.input("grp_per_stage") %>
		   </div>
		</div>
	</div> <!-- end of span6 column 1 -->
	<div class="span6">
		<div class="control-group">
		   <%- form.label("player_per_grp", "No. of Player per Group", {class: "control-label"}) %>
		   <div class="controls">
		       <%- form.input("player_per_grp") %>
		   </div>
		</div>
	</div> <!-- end of span6 column 2 -->
</div> <!-- end of class = "row5" -->

<div class = "row">
	<div class="span6">
		<div class="control-group">
		   <%- form.label("game_per_match", "No. of Games per Match", {class: "control-label"}) %>
		   <div class="controls">
		       <%- form.input("game_per_match") %>
		   </div>
		</div>
	</div> <!-- end of span6 column 1 -->
	<div class="span6">
		<div class="control-group">
		   <%- form.label("final_stage_flag", "Final Stage for the Event", {class: "control-label"}) %>
		   <div class="controls">
<!--		       <%- form.input("final_stage_flag") %>-->
     <%- xxtd_createDropDown("Stage_final_stage_flag", "Stage[final_stage_flag]", yes_no_list, stage.final_stage_flag, "meaning", "lookup_code") %>
		   </div>
		</div>
	</div> <!-- end of span6 column 2 -->
</div> <!-- end of class = "row6" -->


<div class = "row">
	<div class="span6">
		<div class="control-group">
		   <%- form.label("default_match_duration", "Default Match Duration (in Min.)", {class: "control-label"}) %>
		   <div class="controls">
		       <%- form.input("default_match_duration") %>
		   </div>
		</div>
	</div> <!-- end of span6 column 1 -->
	<div class="span6">
		<div class="control-group">
		   <%- form.label("stage_status_code", "Stage Status", {class: "control-label"}) %>
		   <div class="controls">
<!--		       <%- form.input("stage_status_code") %>-->
     <%- xxtd_createDropDown("Stage_stage_status_code", "Stage[stage_status_code]", stage_status_list, stage.stage_status_code, "meaning", "lookup_code") %>
		   </div>
		</div>
	</div> <!-- end of span6 column 2 -->
</div> <!-- end of class = "row7" -->

<%- form.input("date_created", {type: "hidden"}) %>
<%- form.input("date_updated", {type: "hidden"}) %>